/* Minimal styles now that Bootstrap is used */
body {
  background-color: #f8f9fa;
  color: #212529;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

.prose {
  line-height: 1.6;
}
